.form-container {
  box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.26);
  text-align: center;
  max-width: 40%;
  margin: auto;
  margin-top: 7%;
  caret-color: #86BC25 !important;
  align-content: center;

}
.mat-form-field.mat-focused .mat-form-field-label{
  color:#86BC25 !important ;
}

.form-container mat-form-field {
  width: 63%;
  margin-top: 17px;
  margin-bottom: 2px;
  caret-color: #86BC25 !important;
}

.form-container mat-form-field mat-icon {
  cursor: default;
}

.form-container button {
  margin-top: 12px;
  margin-bottom: 12px;
  caret-color: #86BC25 !important;
}

.form-container mat-progress-spinner {
  margin-bottom: -25px;
  left: 60%;
  top: -43px;
}

.form-signin {
  margin-bottom: 11%;
  caret-color: #86BC25 !important;
}

.image-element {
  width: 100px;
  width: 9%;
}

@media only screen and (max-width: 600px) {
  .responsiveWidth {
    width: 65% !important;
  }

  .form-container {
    margin-top: 28%;
  }

  .form-signin {
    margin-bottom: 28%;
  }

  .image-element {
    width: 82px;
  }
}

@media only screen and (max-width: 400px) {
  .form-container {
    max-width: 80%;
  }
}
