<div  *ngIf="!loggedIn && !userNotConfirmed.unconfirmed">
	<form class="form-container" [formGroup]="loginForm">
		<mat-form-field appearance="outline">
			<mat-label>Username</mat-label>
			<input matInput type="text" formControlName="username" placeholder="Username" required>
		</mat-form-field>
		<br>
		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password" placeholder="Password" required>
		</mat-form-field>
		<br>
		<span *ngIf="errorOnLogin.error" style="color: red;">
			{{errorOnLogin.errorPhrase}}
			<p>
		</span>
		<button color="primary" mat-raised-button (click)="login()">Login</button>
		<mat-progress-spinner *ngIf="loading" [diameter]="25"  mode="indeterminate"></mat-progress-spinner>
		<nav>
			<a routerLink="/signup-form">Sign up</a>
		</nav>
		<p>
	</form>
</div>
<div class="form-container" *ngIf="userNotConfirmed.unconfirmed">
	<form [formGroup]="verifyForm" >
		<mat-form-field appearance="outline">
			<mat-label>Verification Code</mat-label>
			<input matInput type="text" formControlName="verifyCode" placeholder="Verification Code">
		</mat-form-field>
		<span *ngIf="errorOnLogin.error" style="color: red;">
			{{errorOnLogin.errorPhrase}}
		</span>
		<br>
		<button color="primary" mat-raised-button (click)="confirmUser()">Verify</button>
		<p>
			<a href="/#" (click)="resendVerifyCode()">Resend Verify Code</a>
		</p>
	</form>

</div>

<div *ngIf="loggedIn">
	Hello {{user.username}} Welcome to this amazing E-shop. <span style="align-content: right;"><button
			(click)="signOut()">Sign Out</button></span>
	<p></p>
	<button (click)="getData(12345678)">CLICK ME WHEN LOGGED IT</button>
</div>

<router-outlet></router-outlet>