input {
	width: 8%;
}

form{
	text-align: center;
	padding: 20px 0;
	border: 3px solid #f1f1f1;
	font-size: 20px;
}

input[type=text]:focus,input[type=password]:focus{
  background-color: lavender;

}
input[type=text] input[type=password], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=checkbutton], input[type=submit]{
  background-color: slateblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

